.l-form
  = simple_form_for @billing, :url => preferences_billing_user_path(current_user), :method => :put do |billings_form| 
    .l-form__row
      .l-form__label= billings_form.label :card_number
      = billings_form.text_field :card_number, class: "o-input"
    .l-form__row
      .l-form__label= billings_form.label :expiration_date
      = billings_form.input :expiration_date, label: false
    .l-form__row
      .l-form__label= billings_form.label :three_digit
      = billings_form.text_field :three_digit, class: "o-input"
    .l-form__row
      .l-grid
        .l-grid__item.one-half>    
          .l-form__label= billings_form.label :first_name
          = billings_form.text_field :first_name, value: current_user.name.blank? ? "" : current_user.name.split(" ")[0], class: "o-input"
        .l-grid__item.one-half>
          .l-form__label= billings_form.label :last_name
          = billings_form.text_field :last_name, value: current_user.name.blank? ? "" : current_user.name.split(" ")[1], class: "o-input"
    .l-form__row
      .l-form__label= billings_form.label :address_line_1
      = billings_form.text_field :address_line_1, class: "o-input"
    .l-form__row
      .l-form__label= billings_form.label :address_line_2
      = billings_form.text_field :address_line_2, class: "o-input"
    .l-form__row
      .l-grid
        .l-grid__item.two-fifths>
          .l-form__row
            .l-form__label= billings_form.label "City"
            = billings_form.text_field :city, class: "o-input"
        .l-grid__item.two-fifths>
          .l-form__row
            .l-form__label= billings_form.label :country
            = billings_form.text_field :country, class: "o-input"
        .l-grid__item.one-fifth>
          .l-form__row
            .l-form__label= billings_form.label :postal_code
            = billings_form.text_field :postal_code, class: "o-input"
    .l-form__row
      .l-form__label= billings_form.label :vat_number
      = billings_form.text_field :vat_number, class: "o-input"
    - if !@order.blank?
      %input{:name => "order_id", :value => @order.id, :type => "hidden"}
    .l-form__row.l-form__row--top-margin
      = billings_form.submit :value => "Save your Billing Information", class: "o-button o-button--orange"