.l-form.js-login-register__form{ class: ("is-active" if params[:type] == "register") }
  = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    .l-form__row
      .l-form__label= f.label :email
      = f.email_field :email, autofocus: (true if params[:type] == "register"), class: "o-input"
    .l-form__row
      .l-form__label= f.label :password 
      = f.password_field :password, autocomplete: "off", class: "o-input"
    .l-form__row
      = f.submit "Sign up", class: "o-button o-button--orange"