= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:multipart => true}) do |f|

  = f.input :email, autofocus: true,  as: :email
  
  = f.input :name

  = f.input :vat

  = f.input :occupation 
  
  = f.input :address_street 

  = f.input :address_city 

  = f.input :address_country 
  
  = f.input :address_zip 
  
  = image_tag(resource.logo_url) if resource.logo? 
  = f.input :logo, :as => :file 
  = f.input :logo_cache, :as => :hidden 


  = f.input :password 

  = f.input :password_confirmation 
  
  %div
    = f.submit "Sign up"