%title= "Basketo | The Fruit & Vegetables B2B Marketplace, Reinvented"
= tag "meta", name: "description", content: "We curate and support tech savvy producers, helping them connect with top buyers of fruits and vegetables from around the world."
= tag "meta", name: "subject", content: "Basketo | The Fruit & Vegetables B2B Marketplace, Reinvented"
= tag "meta", name: "creator", content: "Basketo"
= tag "meta", name: "type", content: "website"
= tag "meta", name: "format", content: "text/html"
= tag "meta", name: "relation", content: "http://www.basketo.com"
= tag "meta", name: "coverage", content: "worldwide"
= tag "meta", name: "rights", content: "Basketo"
= tag "meta", name: "viewport", content: "width=device-width, initial-scale=1.0, maximum-scale=1.5"
= tag "meta", name: "language", content: "EN"
= tag "meta", :"http-equiv" => "Content-Type", content: "text/html; charset=utf-8"

-# Facebook
= tag "meta", property: "og:title", content: "Basketo | The Fruit & Vegetables B2B Marketplace, Reinvented"
= tag "meta", property: "og:site_name", content: "Basketo"
= tag "meta", property: "og:url", content: "http://www.basketo.co"
= tag "meta", property: "og:description", content: "We curate and support tech savvy producers, helping them connect with top buyers of fruits and vegetables from around the world."
= tag "meta", property: "og:image", content: "http://www.basketo.co/assets/images/social_image.png"
= tag "meta", property: "og:fb:app_id", content: "1415788098670850"


-# Twitter
= tag "meta", property: "twitter:card", content: "summary"
= tag "meta", property: "twitter:url", content: "http://www.basketo.co"
= tag "meta", property: "twitter:title", content: "Basketo | The Fruit & Vegetables B2B Marketplace, Reinvented"    
= tag "meta", property: "twitter:description", content: "We curate and support tech savvy producers, helping them connect with top buyers of fruits and vegetables from around the world."    
= tag "meta", property: "twitter:image", content: "http://www.basketo.co/assets/images/social_image.png"    