= render :partial => "users/shared/user_preferences_menu"


= simple_nested_form_for(@user, as: :user, :method => :put, url: update_user_preferences_path, :html => {:multipart => true}) do |f| 

  = f.input :email, autofocus: true,  as: :email, input_html: { class: "o-input" }
  
  = f.input :name, input_html: { class: "o-input" }

  = f.input :occupation, input_html: { class: "o-input" }
  
  = f.input :address_street, input_html: { class: "o-input" }

  = f.input :address_city, input_html: { class: "o-input" }

  = f.input :address_country, input_html: { class: "o-input" }
  
  = f.input :address_zip, input_html: { class: "o-input" }
  
  = image_tag(@user.logo_url, :height => 100) if @user.logo? 
  = f.input :logo, :as => :file 
  = f.input :logo_cache, :as => :hidden 

  
  = f.input :user_type, :as => :select, :collection => [:buyer, :seller] 

  = f.input :buyer_type, :as => :select, :collection => [:free, :premium], include_blank: false if current_user.is_buyer?  
  
  
  = f.input :password, input_html: { class: "o-input" }

  = f.input :password_confirmation, input_html: { class: "o-input" }
    

  %div
    = f.submit "Update preferences", class: "o-button o-button--green"

%div=link_to "Update the Seller's Profile", edit_seller_url(Seller.find_or_create_by_user_id(current_user.id).id.to_i)