%h3
  Edit your personal profile

= simple_nested_form_for(@user, as: :user, :method => :put, url: update_user_preferences_path, :html => {:multipart => true}) do |f| 

  = f.input :email, autofocus: true,  as: :email 
  
  = f.input :name 

  = f.input :occupation 
  
  = f.input :address_street 

  = f.input :address_city 

  = f.input :address_country 
  
  = f.input :address_zip 
  
  = image_tag(@user.logo_url, :height => 100) if @user.logo? 
  = f.input :logo, :as => :file 
  = f.input :logo_cache, :as => :hidden 

  
  = f.input :user_type, :as => :select, :collection => [:buyer, :seller] 

  = f.input :buyer_type, :as => :select, :collection => [:free, :premium], include_blank: false if current_user.is_buyer?  
  
  
  = f.input :password 

  = f.input :password_confirmation 
  

  = f.fields_for :billings do |billings_form| 
    %p
      Add an Auction
    = billings_form.input :card_number 
    = billings_form.input :expiration_date 
    = billings_form.input :three_digit
    = billings_form.input :first_name, value: @user.name.split(" ")[0] || "" 
    = billings_form.input :last_name, value: @user.name.split(" ")[1] || ""
    = billings_form.input :address_line_1
    = billings_form.input :address_line_2
    = billings_form.input :city
    = billings_form.input :state
    = billings_form.input :postal_code
    = billings_form.input :country
    = billings_form.input :vat_number
    

    
    = billings_form.link_to_remove "Remove this Billing Address/Information" 
  
  
  %p
    = f.link_to_add "Add another Billing Address/Information", :billings






  %div
    = f.submit "Update preferences"

%div=link_to "Update the Seller's Profile", edit_seller_url(Seller.find_or_create_by_user_id(current_user.id).id.to_i)