.l-list-block
  .l-list-block__headline
    %h1.o-headline= t("views.users.users")
  .l-grid
    - @users.each do |u|
      .l-grid__item.palm--one-whole.one-third>
        = link_to user_path(u), class: "m-user" do
          .l-grid
            .l-grid__item.one-third>
              .m-user__image
                = image_tag current_user.logo.url if current_user && !current_user.logo.blank?
            .l-grid__item.two-thirds>
              %ul.m-icon-list
                %li.m-icon-list__item
                  .m-icon-list__icon.o-icon.o-icon--map-marker
                  .m-icon-list__data= u.name
                %li.m-icon-list__item
                  .m-icon-list__icon.o-icon.o-icon--map-marker
                  .m-icon-list__data= u.occupation
                %li.m-icon-list__item
                  .m-icon-list__icon.o-icon.o-icon--map-marker
                  .m-icon-list__data= u.address_country

    = paginate @users 
