%h1= params[:filter].to_s.titleize


%table
  %thead
    %tr
      %th
        Name      
      %th
        Products
      %th
        Review

  %tbody
  - @users.each do |u| 
    %tr
      %td= u.name_and_email 
      %td= link_to "See the products of #{u.name}.", user_path(u)  if u.user_type == "seller" 
      %td= link_to "Add a review for this #{u.user_type}", user_ratings_path(u)

  
= paginate @users 
