- content_for :body_class, "l-user-seller"

.l-user-seller__section
  .m-user-cover
    .m-user-cover__cover-img= image_tag @user.seller.seller_cover, :height => 200
    .m-user-cover__info
      .l-grid.l-grid--bottom
        .l-grid__item.desk--two-thirds>
          .m-user-cover__image= image_tag @user.seller.seller_logo
          .m-user-cover__name= @user.name
        .m-user-cover__ratings.l-grid__item.desk--one-third
          = render "partials/modules/m_ratings", stars: @user.try(:rating_average), modifier: "m-ratings--big m-ratings--green"
      .m-user-cover__description= @user.seller.description        

.l-user-seller__section
  .l-user-seller__headline
    %h2.o-headline= "Recently Sold"
  .l-grid
  - @user.products.limit(3).each do |product|  
    .l-grid__item.desk--one-third>
      = render "partials/modules/m_product", p: product

.l-user-seller__section
  .l-user-seller__headline
    %h2.o-headline= "Producers' Comments"
  - @user.ratings_received.each do |rating|
    = render "partials/modules/m_review", rating: rating
  

