- content_for :body_class, "l-user-seller"

.l-list-block
  .m-user-cover
    .m-user-cover__cover-img
      - if @user.seller.seller_cover
        = image_tag @user.seller.seller_cover
      - else
        = image_tag "/assets/defaults/seller-profile-cover.png"
    .m-user-cover__info
      .l-grid.l-grid--bottom
        .l-grid__item.desk--two-thirds>
          .m-user-cover__image
            - if @user.seller.seller_logo
              = image_tag @user.seller.seller_logo
            - else
              = image_tag "/assets/defaults/seller-profile-image.png"
          .m-user-cover__name= @user.name
        .m-user-cover__ratings.l-grid__item.desk--one-third
          = render "partials/modules/m_ratings", stars: @user.try(:rating_average), modifier: "m-ratings--big m-ratings--green"
      .m-user-cover__description= @user.seller.description        

.l-list-block
  .l-list-block__headline
    %h2.o-headline= t("views.users.recently_sold")
  .l-grid
    - @user.products.limit(3).each do |product|  
      .l-grid__item.palm--one-half.desk--one-third>
        = render "partials/modules/m_product", p: product, modifier: "m-product--compact"

.l-list-block
  .l-list-block__headline
    %h2.o-headline= t("views.users.producers_comments")
  - @user.ratings_received.each do |rating|
    = render "partials/modules/m_review", rating: rating
  / - @user.ratings_received.each do |rating|
  /   = render "partials/modules/m_review", rating: rating
  

