= render "partials/modules/m_user_area"

.l-header
  .l-grid.l-grid--fixed
    .l-grid__col-1-3
      = render "partials/objects/o_logo"
    .l-grid__col-1-3
      %input.o-input{ type: "text", placeholder: "Search" }
    .l-grid__col-1-3
      .o-links
        = link_to "All users",  all_users_path
        %span.o-links__separator= "\\"
        = link_to "Buyers"   ,  buyers_users_path
        %span.o-links__separator= "\\"
        = link_to "Sellers"  ,  sellers_users_path
        %span.o-links__separator= "\\"
        = link_to "Products"  ,  products_path

  / %div{ style: "float: right; text-align: right;" }
  /   %nav
  /     Switch Languages:
  /     = link_to "EN", url_for(params.merge(:locale => "en")) 
  /     |
  /     = link_to "EL", url_for(params.merge(:locale => "el")) 
  /     |
  /     = link_to "DE", url_for(params.merge(:locale => "de"))   