.l-block{ style: "border-bottom: 2px solid #CCC;" }
  %div{ style: "float: left;" }
    = render "partials/objects/o_logo"
    %nav{ style: "margin-top: 1em;" }
      = link_to "All users",  all_users_path
      |
      = link_to "Buyers"   ,  buyers_users_path
      |
      = link_to "Sellers"  ,  sellers_users_path
      |
      = link_to "Products"  ,  products_path

  %div{ style: "float: right; text-align: right;" }
    %nav
      Switch Languages:
      = link_to "EN", url_for(params.merge(:locale => "en")) 
      |
      = link_to "EL", url_for(params.merge(:locale => "el")) 
      |
      = link_to "DE", url_for(params.merge(:locale => "de"))   

    %nav{ style: "margin-top: 2em;" }
      - if current_user 
        = image_tag current_user.logo.url, :height => 50 if current_user && !current_user.logo.blank?
        %br
        = "Welcome #{current_user.name} (#{current_user.email})"   
        |
        %strong= "#{current_user.user_type}"
        %br
        = link_to "Seller Dashboard", seller_dashboard_url
        |
        = link_to "Buyer Dashboard", buyer_dashboard_url
        |
        = link_to "Preferences", user_prefernces_path 
        |
        = link_to "Logout", destroy_user_session_path, :method => :delete if current_user 