= render "partials/modules/m_user_area"

.l-header
  .l-block
    .l-grid.l-grid--middle
      .l-grid__item.desk--two-thirds>
        .l-grid.l-grid--middle
          .l-header__logo.l-grid__item.portable--one-half.desk--one-third>
            = render "partials/objects/o_logo"
          .l-header__search.l-grid__item.portable--one-half.desk--two-thirds
            %button.o-button.o-button--square.o-button--green
              = render "partials/objects/o_icon", icon: "magnifier", modifier: "o-icon--white o-icon--small"
            .l-header__search__input-container
              %input.o-input{ type: "text", placeholder: t("views.header.search") }
      .l-header__links.l-grid__item.desk--one-third.text-center>
        .m-links
          = link_to t("views.header.users"),  all_users_path
          %span.m-links__separator= "\\"
          = link_to t("views.header.register"),  new_user_session_path(:type => "register")
          %span.m-links__separator= "\\"
          = link_to t("views.header.products"),  products_path
          %span.m-links__separator= "\\"
          = link_to t("views.header.new_product"),  "/products/new"
          - if Rails.env.development?
            %span.m-links__separator= "\\"
            = link_to "Orders (debug)",  orders_path
          

  / %div{ style: "float: right; text-align: right;" }
  /   %nav
  /     Switch Languages:
  /     = link_to "EN", url_for(params.merge(:locale => "en")) 
  /     |
  /     = link_to "EL", url_for(params.merge(:locale => "el")) 
  /     |
  /     = link_to "DE", url_for(params.merge(:locale => "de"))   