= link_to "Back Home", home_url  | 
- if current_user 
  = "Welcome #{current_user.name} (#{current_user.email})"   
  |
  %strong= "#{current_user.user_type}"
  |
  = image_tag current_user.logo.url, :height => 50 if current_user && !current_user.logo.blank?
  |
  = link_to "My Products", user_products_path(:user_id => current_user.id) 
  
  = link_to "Preferences", user_prefernces_path 
  |
  = link_to "Logout", destroy_user_session_path, :method => :delete if current_user 

%div{ style: "float:right; overflow:none; border: 3px solid #ccc; padding: 5px;" }
  Switch Languages:
  = link_to "EN", url_for(params.merge(:locale => "en")) 
  |
  = link_to "EL", url_for(params.merge(:locale => "el")) 
  |
  = link_to "DE", url_for(params.merge(:locale => "de"))   