= render "partials/modules/m_user_area"

.l-header
  .l-block
    .l-grid.l-grid--middle
      .l-grid__item.two-thirds>
        .l-header__logo>
          = render "partials/objects/o_logo"
        .l-header__search
          %button.o-button.o-button--square.o-button--green
            .o-icon.o-icon--magnifying-glass
          .l-header__search__input-container
            %input.o-input{ type: "text", placeholder: "Search" }
      .l-grid__item.one-third.text-center>
        .m-links
          = link_to "All users",  all_users_path
          %span.m-links__separator= "\\"
          = link_to "Buyers"   ,  buyers_users_path
          %span.m-links__separator= "\\"
          = link_to "Sellers"  ,  sellers_users_path
          %span.m-links__separator= "\\"
          = link_to "Products"  ,  products_path

  / %div{ style: "float: right; text-align: right;" }
  /   %nav
  /     Switch Languages:
  /     = link_to "EN", url_for(params.merge(:locale => "en")) 
  /     |
  /     = link_to "EL", url_for(params.merge(:locale => "el")) 
  /     |
  /     = link_to "DE", url_for(params.merge(:locale => "de"))   