- content_for :body_class, "l-home-index"

.m-search-hero.js-search-hero
  .m-search-hero__container
    .o-highlighted
      .o-highlighted__line= t("views.home.index.slogan")
    .l-grid.l-grid--small-gutter
      .l-grid__item.palm--one-whole.three-quarters>
        %input.o-input.o-input--tall.o-input--green-border.js-search-hero__main-search{ placeholder: t("views.home.index.search_text"), tabindex: 1 }
        .m-search-hero__search-row
          .l-grid.l-grid--small-gutter
            .l-grid__item.palm--one-whole.one-third>
              %input.o-input.o-input--tall.o-input--green-border.js-datetimepicker{ placeholder: t("views.home.index.search_date"), tabindex: 2, data: { :"datetimepicker-options" => '{ "timepicker": false, "format": "d/m/Y" }'}}
            .l-grid__item.palm--one-half.one-third>
              %input.o-input.o-input--tall.o-input--green-border{ placeholder: t("views.home.index.search_quantity"), type: "number", min: 0, step: "10", tabindex: 3 }
            .l-grid__item.palm--one-half.one-third>
              %input.o-input.o-input--tall.o-input--green-border{ placeholder: t("views.home.index.search_price"), type: "number", min: 0, step: "0.1", tabindex: 4 }
      .l-grid__item.palm--one-whole.one-quarter>
        %button.o-button.o-button--block.o-button--tall.o-button--green.o-button--lined{ tabindex: 5 }= t("views.home.index.search_button")
    
.l-block
  - if @produts_auctions_ending_today
    .l-list-block
      .l-list-block__headline
        %h2.o-headline= t("views.home.index.produts_auctions_ending_today")
      .l-grid
        - @produts_auctions_ending_today.each do |product|
          .l-grid__item.palm--one-whole.lap--one-half.one-third>
            = render "partials/modules/m_product", p: product, modifier: "m-product--compact"

.l-block
  - if @latest_added_products
    .l-list-block
      .l-list-block__headline
        %h2.o-headline= t("views.home.index.latest_products")
      .l-grid
        - @latest_added_products.each do |product|
          .l-grid__item.palm--one-whole.lap--one-half.one-third>
            = render "partials/modules/m_product", p: product, modifier: "m-product--compact"            