- modifier ||= ""

-unless p.blank?
  .m-product{ class: "#{modifier}"}
    .l-grid
      .l-grid__item.palm--one-whole.one-half>
        = link_to product_url(p), class: "m-product__image" do
          - if p.product_image
            = image_tag p.product_image.url(:square)
          - else
            = image_tag "/assets/defaults/product-image.png"
        = link_to "Read More", product_url(p), class: "m-product__button o-button o-button--green o-button--block"
      .l-grid__item.palm--one-whole.one-half>
        = link_to "#", class: "m-product__title-link" do
          %h3.o-headline.o-headline--small= "#{p.name}"
          .m-product__supplier= "#{p.user.try(:name)}"
        %ul.m-icon-list
          %li.m-icon-list__item
            .m-icon-list__icon.o-icon.o-icon--map-marker
            .m-icon-list__data=p.country
          %li.m-icon-list__item
            .m-icon-list__icon.o-icon.o-icon--map-marker
            .m-icon-list__data=p.bidding
          %li.m-icon-list__item
            .m-icon-list__icon.o-icon.o-icon--map-marker
            .m-icon-list__data= "boomsgewas"
          %li.m-icon-list__item
            .m-icon-list__icon.o-icon.o-icon--map-marker
            .m-icon-list__data=p.volume
