- rating_stars ||= rating.stars

.m-review
  .m-review__name= rating.reviewer.name
  .l-grid
    .l-grid__item.palm--one-whole.one-third>
      .l-grid.m-review__reviewer
        .l-grid__item.one-third>
          .m-review__reviewer__image
            = image_tag rating.reviewer.logo.try(:url)
        .l-grid__item.two-thirds>
          %ul.m-icon-list
            %li.m-icon-list__item
              .m-icon-list__icon.o-icon.o-icon--map-marker
              .m-icon-list__data= "#{rating.reviewer.address_city}, #{rating.reviewer.address_country}"
            %li.m-icon-list__item
              .m-icon-list__icon.o-icon.o-icon--map-marker
              .m-icon-list__data
                = render "partials/modules/m_ratings", stars: rating_stars, modifier: "m-ratings--green"
            %li.m-icon-list__item
              .m-icon-list__icon.o-icon.o-icon--map-marker
              .m-icon-list__data= rating.created_at.strftime("%d/%m/%Y")  
            %li.m-icon-list__item
              .m-icon-list__icon.o-icon.o-icon--map-marker
              .m-icon-list__data= rating.auction.product.name
    .l-grid__item.palm--one-whole.two-thirds>
      .m-review__text= rating.review