.m-social-links
  .m-social-links__label= "we are social"
  .m-social-links__links
    = link_to "", "", class: "o-icon o-icon--twitter"
    = link_to "", "", class: "o-icon o-icon--linkedin"
    = link_to "", "", class: "o-icon o-icon--facebook"
    = link_to "", "", class: "o-icon o-icon--googleplus"