<%= simple_nested_form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :name %>
  </div>
  <div class="field">
    <%= f.input :product_category_id, collection: ProductCategory.roots, as: :grouped_select, group_method: :children  %>
  </div>
  <div class="field">
    <%= f.input :country %>
  </div>
  <div class="field">
    <%= f.input :volume %>
  </div>
  <div class="field">
    <%= f.input :size %>
  </div>
  <div class="field">
    <%= f.input :quality %>
  </div>
  <div class="field">
    <%= f.input :bidding, label: "Bidding Price per Kg." %>
  </div>
  <div class="field">
    <%= f.input :ending_at, start_year: Date.today.year,
                                  end_year: Date.today.year + 10,
                                  order: [:day, :month, :year] %>
  </div>
  <div class="field">
     <%= f.input :starting_at, start_year: Date.today.year,
                                     end_year: Date.today.year + 10,
                                     order: [:day, :month, :year] %>
   </div>
  <div class="field">
     <%= f.input :delivery_at, start_year: Date.today.year,
                                    end_year: Date.today.year + 10,
                                    order: [:day, :month, :year] %>
  </div>
  <div class="field">
    <%= f.input :shipping_information, :as => :text %>
  </div>
  <div class="field">
    <%= f.input :packaging_information %>
  </div>
  <div class="field">
    <%= f.input :pallets %>
  </div>
  
  
  <%= f.fields_for :auctions do |auctions_form| %>
    <p>Add an Auction</p>
    <%= auctions_form.input :starting_at %>
    <%= auctions_form.input :ending_at %>
    
    <%= auctions_form.link_to_remove "Remove this auction" %>
  <% end %>
  
  <p><%= f.link_to_add "Add an Auction", :auctions %></p>
  
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
