%h1
  Listing products with Active Auctions

%table
  %thead
    %tr
      %th
        Name      
      %th
        Category
      %th
        Country
      %th
        Volume
      %th
        Size
      %th
        Quality
      %th
        Bidding
      %th
        Auction Ending at
      %th
        Auction
      %th{ colspan: 3 }

  %tbody
    - @auctions.each do |auction|
      %tr
        %td= auction.product.name
        %td= auction.product.product_category.try(:name) 
        %td= auction.product.country         
        %td= auction.product.volume 
        %td= auction.product.size 
        %td= auction.product.quality 
        %td= auction.product.bidding 
        %td= auction.ending_at
        %td= link_to 'Place your bidding', new_auction_bidding_path(auction) 

%br

= link_to 'New Product', new_product_path 
