<h1>Listing products</h1>

<table border="1">
  <thead>
    <tr>
      <th width="100">Name</th>      
      <th>Category</th>
      <th>Country</th>
      <th>Volume</th>
      <th>Size</th>
      <th>Quality</th>
      <th>Bidding</th>
      <th>Ending at</th>
      <th>Delivery at</th>
      <th>Shipping information</th>
      <th>Packaging information</th>
      <th>Pallets</th>
      <th>Starting at</th>
      <th>Auction</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.product_category.try(:name) %></td>
        <td><%= product.country %></td>        
        <td><%= product.volume %></td>
        <td><%= product.size %></td>
        <td><%= product.quality %></td>
        <td><%= product.bidding %></td>
        <td><%= product.ending_at %></td>
        <td><%= product.delivery_at %></td>
        <td><%= product.shipping_information %></td>
        <td><%= product.packaging_information %></td>
        <td><%= product.pallets %></td>
        <td><%= product.starting_at %></td>
        <td><%= debug product.auctions.first %></td>
        <td><%= link_to 'Show', product_path(product) %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
