- content_for :body_class, "l-product-show"

- if false
  = link_to 'Edit', edit_product_path(@product)  |
  = link_to 'Back', seller_dashboard_path

.l-grid
  .l-grid__item.two-thirds>
    .l-product-show__section
      .l-product-show__headline
        %h1.o-headline.o-headline--with-title{ title: "PRODUCT" }= @product.name
      .l-grid
        .l-grid__item.one-half>
          .m-image-gallery.js-image-gallery
            = link_to "http://basketo.co/assets/images/background/farmer_focus_m.jpg", class: "m-image-gallery__main js-image-gallery__main js-image-gallery__fancybox" do
              - if @product.product_image
                = image_tag @product.product_image.url(:medium), style: 'max-width: 300px;'
              - else
                = image_tag("/assets/dummy/product.jpg")
            .m-image-gallery__thumbnails.js-image-gallery__owl
              - @product.product_images.limit(10).each_with_index do |image, i|
                .m-image-gallery__thumbnail.js-image-gallery__thumbnail{ class: ("is-active" if i == 0), data: { image: "http://basketo.co/assets/images/world-map-bg.png", target: "http://basketo.co/assets/images/background/hand_crops_m.jpg" }}
                  = image_tag image.url(:square), width: 55
        .l-grid__item.one-half
          %ul.m-icon-list
            %li.m-icon-list__item
              .m-icon-list__icon.o-icon.o-icon--map-marker
              .m-icon-list__data= @product.country
            %li.m-icon-list__item
              .m-icon-list__icon.o-icon.o-icon--map-marker
              .m-icon-list__data= @product.volume
            %li.m-icon-list__item
              .m-icon-list__icon.o-icon.o-icon--map-marker
              .m-icon-list__data= @product.product_category.try(:name) rescue "- None -"
            %li.m-icon-list__item
              .m-icon-list__icon.o-icon.o-icon--map-marker
              .m-icon-list__data= @product.size
            %li.m-icon-list__item
              .m-icon-list__icon.o-icon.o-icon--map-marker
              .m-icon-list__data= @product.quality
          .m-small-text
            .m-small-text__title= "Data provided by the producer"
            .m-small-text__text
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    .l-product-show__section
      .l-product-show__headline
        %h2.o-headline.o-headline--with-title{ title: "SUPPLIER" }= "Karantinos Best Quality Fruits S.A."
      .m-icon-list.l-grid
        .m-icon-list__item.l-grid__item.one-half>
          .m-icon-list__icon.o-icon.o-icon--map-marker
          .m-icon-list__data= "Athens, Greece"
        .m-icon-list__item.l-grid__item.one-half>
          .m-icon-list__icon.o-icon.o-icon--star-outline
          .m-icon-list__data
            = render "partials/modules/m_ratings", stars: 3
        .m-icon-list__item.l-grid__item.one-whole>
          .m-icon-list__icon.o-icon.o-icon--map-marker
          .m-icon-list__data
            = "Comments from others"
        .m-icon-list__item.l-grid__item.one-whole>
          .m-icon-list__icon.o-icon.o-icon--map-marker
          .m-icon-list__data
            = "Other products"
        .l-grid__item.one-whole>
          .l-grid.l-expandable
            .l-grid__item.one-half>
              = render "partials/modules/m_product"
            .l-grid__item.one-half>
              = render "partials/modules/m_product"

    .l-product-show__section
      .l-product-show__headline--big-margin
        %h2.o-headline.o-headline--no-top-border= "Customers also viewed"
      .l-grid
        .l-grid__item.one-half>
          = render "partials/modules/m_product"
        .l-grid__item.one-half>
          = render "partials/modules/m_product"

  .l-grid__item.one-third
    .l-product-show__section
      .m-action-area
        .m-action-area__section
          .m-action-area__left>
            .js-countdown-timer{ style: "width: 100px; height: 100px; overflow: hidden;", "data-ending-at" => @product.ending_at, "data-starting-at" => @product.starting_at }
          .m-action-area__right
            .m-action-area__label= "Bid ends in"
            .m-action-area__text= "0h:15m:20s"
        .m-action-area__section
          .m-action-area__left>
            .m-action-area__label= "Last of 10 bids"
            .m-action-area__text= "0,14€/kgr"
          .m-action-area__right
            %form.js-action-form
              %input.o-input
              %button.o-button.o-button--block.o-button--orange= "Bid now"
      .m-action-area
        .m-action-area__section
          .m-action-area__left>
            .m-action-area__text= "0,14€/kgr"
          .m-action-area__right
            %form.js-action-form
              %button.o-button.o-button--block.o-button--orange= "Buy now"

    .l-product-show__section
      .o-advertisement.o-advertisement--300-600
        = image_tag("/assets/dummy/300x250.jpg")


/     Bidding:
/   = @product.bidding
/ %p
/   %strong
/     Ending at:
/   = @product.ending_at
/ %p
/   %strong
/     Delivery at:
/   = @product.delivery_at
/ %p
/   %strong
/     Shipping information:
/   = @product.shipping_information
/ %p
/   %strong
/     Packaging information:
/   = @product.packaging_information
/ %p
/   %strong
/     Pallets:
/   = @product.pallets
/ %p
/   %strong
/     Starting at:
/   = @product.starting_at
