- content_for :body_class, "l-product-show"

.l-grid
  .l-grid__item.desk--two-thirds>
    .l-list-block
      .l-list-block__headline
        .l-list-block__headline__buttons
          .addthis_sharing_toolbox
        %h1.o-headline.o-headline--with-title{ title: "PRODUCT" }= @product.name
      .l-grid
        .l-grid__item.palm--one-whole.one-half>
          .m-image-gallery.js-image-gallery
            - if @product.product_image
              = link_to @product.product_image.url(:large), class: "m-image-gallery__main js-image-gallery__main js-image-gallery__fancybox" do
                = image_tag @product.product_image.url(:medium)
            - else
              .m-image-gallery__main
                = image_tag "/assets/defaults/product-image.png"
            .m-image-gallery__thumbnails.js-image-gallery__owl
              - @product.product_images.limit(10).each_with_index do |image, i|
                .m-image-gallery__thumbnail.js-image-gallery__thumbnail{ class: ("is-active" if i == 0), data: { image: image.url(:medium), target: image.url(:large) }}
                  = image_tag image.url(:square), width: 55
        .l-grid__item.palm--one-whole.one-half
          %ul.m-icon-list
            %li.m-icon-list__item
              .m-icon-list__icon.o-icon.o-icon--map-marker
              .m-icon-list__data= @product.country
            %li.m-icon-list__item
              .m-icon-list__icon.o-icon.o-icon--map-marker
              .m-icon-list__data= @product.volume
            %li.m-icon-list__item
              .m-icon-list__icon.o-icon.o-icon--map-marker
              .m-icon-list__data= @product.product_category.try(:name) rescue "- None -"
            %li.m-icon-list__item
              .m-icon-list__icon.o-icon.o-icon--map-marker
              .m-icon-list__data= @product.size
            %li.m-icon-list__item
              .m-icon-list__icon.o-icon.o-icon--map-marker
              .m-icon-list__data= @product.quality
          .m-small-text
            .m-small-text__title= "Data provided by the producer"
            .m-small-text__text
              %b="Description"
              %p= @product.description

              %b="Shipping Information"
              %p= @product.shipping_information

              %b="Packaging Information"
              %p= @product.packaging_information

    .l-list-block
      .l-list-block__headline
        %h2.o-headline.o-headline--with-title{ title: "SUPPLIER" }= @product.user.name
      .m-icon-list.l-grid
        .m-icon-list__item.l-grid__item.one-half>
          .m-icon-list__icon.o-icon.o-icon--map-marker
          .m-icon-list__data= "#{@product.user.address_city}, #{@product.user.address_country}"
        .m-icon-list__item.l-grid__item.one-half>
          .m-icon-list__icon.o-icon.o-icon--star-outline
          .m-icon-list__data
            = render "partials/modules/m_ratings", stars: @product.user.try(:rating_average)
        .m-icon-list__item.l-grid__item.one-whole>
          .m-icon-list__icon.o-icon.o-icon--map-marker
          .m-icon-list__data
            = "Comments from others"
        .m-icon-list__item.l-grid__item.one-whole>
          .m-icon-list__icon.o-icon.o-icon--map-marker
          .m-icon-list__data
            = "Other products"
        - if @product.user.relevant_products(@product.id, 4).count > 0
          .l-grid__item.one-whole>
            .l-grid.l-expandable
              - @product.user.relevant_products(@product.id, 4).each do |product|
                .l-grid__item.one-half>
                  = render "partials/modules/m_product", p: product

    .l-list-block
      .l-list-block__headline--big-margin
        %h2.o-headline.o-headline--no-top-border= "Customers also viewed"
      -if @product.relevant_products(4).count > 0                  
        .l-grid
          .l-grid__item.one-half>
            = render "partials/modules/m_product", p: @product.relevant_products(2).try(:first) || nil
          .l-grid__item.one-half>
            = render "partials/modules/m_product", p: @product.relevant_products(2).try(:first) || nil

  .l-grid__item.desk--one-third
    .l-grid
      .l-list-block.l-grid__item.lap--one-half>
        -unless @product.active_auction.blank?
          .m-action-area
            .m-action-area__section.l-grid.l-grid--middle
              .l-grid__item.palm--one-whole.one-third>
                .js-countdown-timer{ style: "width: 100px; height: 100px; overflow: hidden;", "data-ending-at" => @product.active_auction.ending_at, "data-starting-at" => @product.active_auction.starting_at }
              .l-grid__item.palm--one-whole.two-thirds
                .m-action-area__label= "Bid ends in"
                .m-action-area__text= "#{@product.active_auction.ending_at}"
            .m-action-area__section.l-grid.l-grid--middle
              .l-grid__item.palm--one-whole.one-third>
                .m-action-area__label= "Last of #{@product.active_auction.biddings.count} bids"
                .m-action-area__text= "#{@product.active_auction.get_current_winning_bidding_value}€/kgr"
              .l-grid__item.palm--one-whole.two-thirds
              = simple_form_for(Bidding.new(auction: @product.active_auction), url: auction_biddings_path(@product.active_auction), :class => "js-action-form", ) do |f|
                =f.input :amount, label: "My Bid"
                =f.submit "Bid now", :class => "o-button o-button--block o-button--orange"
          .m-action-area
            .m-action-area__section.l-grid.l-grid--middle
              .l-grid__item.palm--one-whole.one-third>
                .m-action-area__text= "#{@product.active_auction.buy_out_bid}€/kgr"
              .l-grid__item.palm--one-whole.two-thirds
              - if !@product.active_auction.buy_out_bid.blank?
                = simple_form_for(Bidding.new(auction: @product.active_auction), url:  buy_now_auction_path(:id => @product.active_auction.id), :class => "js-action-form") do |f|
                  =f.submit "Buy now", :class => "o-button o-button--block o-button--orange"

      .l-list-block.l-grid__item.lap--one-half
        .o-advertisement.o-advertisement--300-600
          = image_tag("/assets/dummy/300x250.jpg", style: "width: 100%;")