<!DOCTYPE html>
<html>
<head>
  <title>Basekto</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


<div>
  <%= render  :partial => 'shared/header'%>
</div>
  
<div style="border: 1px solid red;">
  <%= flash[:alert] %>
  <%= flash[:notice] %>
  
</div>

<div>
<%= yield %>
</div>

</body>
</html>
