<!DOCTYPE html>
<html>
<head>
  <title>Basekto</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


<div>
  <%= render  :partial => 'shared/header'%>
</div>
  
<div style="border: 1px solid red; width: 500px;">
  <div id="flash_messages">
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, :class => "flash #{key}") %>
    <% end %>
  </div>
</div>


<ul>    
  <li><%= link_to "All users",  all_users_path %></li>
  <li><%= link_to "Buyers",     buyers_users_path %></li>
  <li><%= link_to "Sellers",    sellers_users_path %></li>  
</ul>  
  
  
<div>
<%= yield %>
</div>

</body>
</html>
