<!DOCTYPE html>
<html>
<head>
  <title>Basekto</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<div>
  <%= link_to "Back Home", "/" %>
</div>
  

<div>
<%= yield %>
</div>

</body>
</html>
