!!! 5
/[if lt IE 8] <html class="no-js lt-ie10 lt-ie9 lt-ie8 ie" lang="en">
/[if IE 8] <html class="no-js lt-ie10 lt-ie9 ie8 ie" lang="en">
/[if IE 9] <html class="no-js lt-ie10 ie" lang="en">
:plain
  <!--[if gt IE 9]><!-->
%html{class: "no-js modern-browser", :'xmlns:og' => "http://opengraphprotocol.org/schema/", :'xmlns:fb' => "http://www.facebook.com/2008/fbml"}
  :plain
    <!--<![endif]-->
  %head
    = render "/partials/meta"
    %link{:href => "/assets/images/favicon.ico", :rel => "shortcut icon"}
    = stylesheet_link_tag "application"
    = javascript_include_tag "/assets/libs/modernizr"
    = csrf_meta_tags
  %body{ class: "#{yield(:body_class)}" }

    -# Include the svg icons code at the top, because of a chrome bug: https://code.google.com/p/chromium/issues/detail?id=349175
    = inline_svg "icons.svg"

    - if flash.present?
      %div{ style: "background: #C00; color: white; padding: 5px; text-align: center" }
        #flash_messages
          - flash.each do |key, value|
            = content_tag(:div, value, :class => "flash #{key}")

    = render "shared/header"
    
    - if @home_layout
      = yield
    - else
      .l-block
        / .o-breadcrumb
        /   = link_to "Home", "/"
        /   >
        /   = link_to "Products", "/"
        /   >
        /   = link_to "Fruits", "/"
        /   >
        /   = link_to "Apples", "/"
        = yield

    = render "shared/footer"